<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'styles/style_base.css' %}">
    <title>AulaEstudio</title>

</head>

<body class="m-0 border-0">
    <div class="row" id="navigation">
        <div class="col"><a href="/"><img src="{% static 'img/logo_def.png' %}" alt="logo" id="logo"></a></div>
        <div class="col" align="right">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="profile_box"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <a href=""><img id="profile" src="{% static 'img/profile_example.jpg' %}" alt=""></a>
                </button>
                <ul class="dropdown-menu" aria-labelledby="profile_box">
                    <li><a class="dropdown-item" href="#">Log In</a></li>
                    <li><a class="dropdown-item" href="register/">Sign In</a></li>
                    <li><a class="dropdown-item" href="#">Edit Profile...</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    {% block content %}

    {% endblock content %}
    </div>
    <footer>
        <div class="row" id="navigation">
            <div class="col" align="right"><img src="{%static 'img/logo_aula_estudio.png'%}" alt="" id="ae_logo"></div>
            <div class="col" align="left" id="copy">© Copyright 2023-2024</div>
        </div>
    </footer>
</body>

</html>