{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/style_home.css' %}">

<pre id="titulo-home"> Play,
 have fun!</pre>
<div id="inicio">
</div>
<script type="module">
    import * as THREE from 'https://unpkg.com/three/build/three.module.js';
    var scene, camera, renderer;

    let stopAnimate = false;
    let LINE_COUNT = 2500;
    let geom = new THREE.BufferGeometry();
    geom.setAttribute("position", new THREE.BufferAttribute(new Float32Array(6*LINE_COUNT), 3));
    geom.setAttribute("velocity", new THREE.BufferAttribute(new Float32Array(2*LINE_COUNT), 1));
    let pos = geom.getAttribute("position");
    let pa = pos.array;
    let vel = geom.getAttribute("velocity");
    let va = vel.array;

    function init() {
        console.log("hola")
        scene = new THREE.Scene();
        camera = new THREE.PerspectiveCamera(60, window.innerWidth/window.innerHeight, 1, 500);
        camera.position.z = 200;

        renderer = new THREE.WebGLRenderer({antialias:true});
        renderer.setSize(window.innerWidth, window.innerHeight);
        let div = document.getElementById('inicio');
        div.appendChild(renderer.domElement);
        
        for (let line_index= 0; line_index < LINE_COUNT; line_index++) {
            var x = Math.random() * 400 - 200;
            var y = Math.random() * 200 - 100;
            var z = Math.random() * 500 - 100;
            var xx = x;
            var yy = y;
            var zz = z;
            //line start
            pa[6*line_index] = x;
            pa[6*line_index+1] = y;
            pa[6*line_index+2] = z;
            //line end
            pa[6*line_index+3] = xx;
            pa[6*line_index+4] = yy;
            pa[6*line_index+5] = zz;

            va[2*line_index] = va[2*line_index+1]= 0;
        }
        //debugger;
        let mat = new THREE.LineBasicMaterial({color: 0xffffff});
        let lines = new THREE.LineSegments(geom, mat);
        scene.add(lines);

        window.addEventListener("resize", onWindowResize, false);
        animate();
    }
    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
    }
    function animate() {
            for (let line_index= 0; line_index < LINE_COUNT; line_index++) {
                if(stopAnimate){
                    va[2*line_index] += 0.0000000005
                    va[2*line_index+1] += 0.0000000005
                }else{
                    va[2*line_index] += 0.03; //bump up the velocity by the acceleration amount
                    va[2*line_index+1] += 0.025;
                }
                

                //pa[6*line_index]++;                       //x Start
                //pa[6*line_index+1]++;                     //y
                pa[6*line_index+2] += va[2*line_index];     //z
                //pa[6*line_index+3]++;                     //x End
                //pa[6*line_index+4]                        //y
                pa[6*line_index+5] += va[2*line_index+1];   //z

                if(pa[6*line_index+5] > 200) {
                    var z= Math.random() * 200 - 100;
                    pa[6*line_index+2] = z;
                    pa[6*line_index+5] = z;
                    va[2*line_index] = 0;
                    va[2*line_index+1] = 0;
                }
            }
            pos.needsUpdate = true;
            renderer.render(scene,camera);
            requestAnimationFrame(animate);
        
        
    }

    setTimeout( function() {
        stopAnimate = true;
      }, 2000);
    init();
</script>


<div class="m-5 p-5">
    <div class="owl-carousel">
        <div class="item" style="height: 250px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 1</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 2</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 3</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 4</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 5</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 6</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 7</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="item" style="height: 200px;">
            <div class="card carta">
                <svg class="bd-placeholder-img card-img-top" width="100%"
                    height="200"
                    xmlns="http://www.w3.org/2000/svg" role="img"
                    preserveAspectRatio="xMidYMid slice"
                    focusable="false">
                    <rect width="100%" height="100%" fill="#868e96"></rect>
                </svg>
                <div class="overlay">
                    <div class="text">
                        <a href="">Minigames 8</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
    integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 15,
        autoplay: true,
        responsiveClass: true,
        autoplayTimeout: 5000,
        responsive: {
            0: {
                items: 1,
            },
            600: {
                items: 2,
            },
            1000: {
                items: 4,
            }
        }
    })
</script>
{% endblock %}