{% extends 'minigame_base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block minigame %}
<div>
    <input placeholder="Introduce una letra" type="text" id="letra" maxlength="1" required>
    <input type="submit" value="Comprobar" onclick="return usuario()">
    
    <table>
      <tr>
        <th>Letras falladas</th>
        <th>Fallos</th>
        <th>Aciertos</th>
      </tr>
      <tr>
        <td><p id="falladas"></p></td>
        <td><p id="fallos"></p></td>
        <td><p id="aciertos"></p></td>
      </tr>
    </table>
    <h1 id="palabra"></h1>
  </div>
{% endblock %}