svg {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.carta:hover svg {
    opacity: 0.3;
}

.carta:hover .overlay {
    opacity: 1;
}

.text {
    color: black;
    font-size: 18px;
}

.text a {
    text-decoration: none;
    color: black;
}

.text a:hover{
    font-size: 24px;
    transition: font 0.3s ease;
}