@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
  background-color: #343436;
}

h1 {
  text-align: center;
  font-family: 'Black Ops One', cursive;
  font-size: 40px;
  color: #64b45d;
  text-shadow: 3px 5px 2px #797985;
}

#game {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-template-columns: repeat(5, auto);
}

.box {
  width: 60px;
  height: 60px;
  border: 2px solid #9e9eb4;
  margin: 4px;
  color: white;
  border-radius: 10px;
  text-transform: uppercase;
  display: grid;
  place-items: center;
  font-family: 'Roboto';
  font-size: 2.4rem;
}

.box.empty {
  background: #797985;
  border: 2px solid #797985;
}

.box.wrong {
  background: #b59f3b;
  border: 2px solid #b59f3b;
}

.box.right {
  background: #538d4e;
  border: 2px solid #538d4e;
}

#resultado-wordle {
  text-align: center;
  color: white !important;
  font-family: 'Roboto'
}